<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Busca CEP</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="mensagem"></div>
    <div class="container">
        <form action="" method="POST" role="form">
            <legend>Buscar CEP</legend>
    
            
            <div class="input-group">
                <input class="form-control" type="text" value="00000000" "form-control" id="cep" aria-label="Digite seu CEP">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default" aria-label="Pesquisar">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                    <button id="remove" type="button" class="btn btn-default" aria-label="Limpar CEP">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
                </div>
    
        </form>
        <%- yield %>
    </div>
    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>

</body>

</html>