<!DOCTYPE html>
<html lang="en">

<body>

    <div class="container">
        
    </div>

    <script src="vendor/handlebars/handlebars.min.js"></script>
    <script id="template" type="text/x-handlebars-template">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td>CEP</td>
                    <td>{{cep}}</td>
                </tr>
                <tr>
                    <td>Logradouro</td>
                    <td>{{logradouro}}</td>
                </tr>
                <tr>
                    <td>Localidade</td>
                    <td>{{localidade}}</td>
                </tr>
            </tbody>
        </table>
        
    </script>
    <script src="js/index.js"></script>

</body>

</html>